l {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url("images/backround.jpg");
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    height: 100%;

}

@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;

    .small-#{$i} {
        flex-basis: $w;
    }
}

// END LOOP

/* grid rules*/

.title{
    display:flex;
    justify-content: center;
    margin:auto;
    img{
        margin:1rem 0rem 1rem 0rem;
    }
    .banner{
        padding:1rem;
        margin:1rem 0rem 1rem 0rem;
        color:orange;
    }
}

.row {
    flex-wrap: wrap;
    flex-direction: column;
    display:flex;
}

.column {
   
    flex-direction: row;
    display:flex;
}

.banner{
    padding:1rem;
    color:orange;
}

.mainnav{
    flex-basis:100%;
    justify-content: left;
    width:25%;
    color:green;
}
footer {
    background-color: green;
    font-size: 1.6rem;
    color:peachpuff;
}

footer h2 {
    font-family: sans-serif;
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
    color: peachpuff;
}

.foottag1{
    text-align: center;
    background-color: green;
    justify-content: center;
}

.foottag2{
    text-align: center;
    background-color: green;
    justify-content: center;
}

/* Header Rules */
header {
    background-color: green;
    margin:0rem;
}



/* CSS for Hamburger */
button#hamburgerbtn {
    background: none;
    border: nonecolor #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}




.login{
 display:flex;
 flex-flow: row wrap;

 color:green;
 background-color: black;
    li {
        margin:0rem 3rem 0rem 3rem;
    }
}

/*CSS for Navigation*/



.menunav {
  
    margin:0;
    padding:0;
    flex-direction: row;
    li{
        list-style: none;
       
    }
}

.navdiv {
    background-color: peachpuff;
    width:110%;
    list-style:none;
    text-decoration: none;
    font-size: .9rem;
    margin:auto;
    
    li {
        margin:0rem 0rem 0rem 0rem;
        padding:1rem;
    }
    a{
        padding:1rem 2rem 1rem 001rem;
        text-decoration: none;
        color:green;
        font-weight: bolder;
        font-size: .9rem;
        width:100%;
    }
}


nav li.active{
    background-color:rgba(187, 124, 70,.7);
    width:8%;
}

nav a:hover{
    background-color: rgba(122, 112, 103,.3);
    width:100%;
}

nav ul.open{
    display:block;

}

nav ul {
    display:none;
}
.tagline{
    color:orange;
    justify-content: center;
    text-align: center;
    margin:20rem 0rem 0rem 0rem;
}
/*main content*/

.handles{
    justify-content: right;
    .row{justify-content: right;
        
        margin-left:auto;
        margin-top:11em;
        max-width:10%;
        display:flex;
        img{
            padding:1rem;
            justify-content: right;
           
        }
    }
}

.sermain{
    display:flex;
    flex-basis:50%;
    width:100%;
    background-color: black;
    color:green;
    align-items:center;
    margin:2rem;
    
}

.sercontainer{
    display:flex;
    flex-flow:column wrap;
    margin:auto;
    flex-basis:50%;
    width:100%;
    background-color: red;
}